.b-popover {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.b-popover .b-dialog {
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 1px 2px 3px transparent;
  color: #111;
}
.b-popover-caret {
  position: relative;
  transform-origin: center;
  height: 16px;
  width: 16px;
}
.b-popover-caret-border {
  fill: #e6e6e6;
}
.b-popover-caret-fill {
  fill: #fff;
}
.b-popover-anchor-y-start.b-popover-self-y-end .b-popover-caret {
  margin-top: -3px;
  order: 2;
  transform: rotate(180deg);
}
.b-popover-anchor-y-end.b-popover-self-y-start .b-popover-caret {
  margin-bottom: -3px;
}
.b-popover-anchor-x-start.b-popover-self-x-end {
  flex-direction: row;
}
.b-popover-anchor-x-start.b-popover-self-x-end .b-popover-caret {
  margin-left: -3px;
  order: 2;
  transform: rotate(90deg);
}
.b-popover-anchor-x-end.b-popover-self-x-start {
  flex-direction: row;
}
.b-popover-anchor-x-end.b-popover-self-x-start .b-popover-caret {
  margin-right: -3px;
  transform: rotate(-90deg);
}
.b-dialog-wrapper {
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.b-dialog {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  box-shadow: 1px 2px 3px #e6e6e6;
  color: #111;
  line-height: 1.5;
  padding: 1rem 4px;
}
.b-dialog *:last-child {
  margin-bottom: 0;
}
