like {
/*#5890FF*/
 background-color: #5890FF;
}

love {
  background-color: #FFDADF;
/*    #F25267*/
}

haha {
  background-color: #FAE29E;
/*    #FFD972*/
}

wow {
  background-color: #F5C6A3;
/*    #FFA500*/
}

sad {
  background-color: #C5E8FB;
/*    #B2DFEE*/
}

angry {
  background-color: #F1A8A8;
/*    #D43A3A*/
}
