like {
  background-color: #5890FF;
}

love {
  background-color: #F25267;
}

haha {
  background-color: #FFD972;
}

wow {
  background-color: #FFA500;
}

sad {
  background-color: #B2DFEE;
}

angry {
  background-color: #D43A3A;
}
